/* global */
@import url("global/normalize.css");
@import url("global/reboot.css");
@import url("global/container.css");

/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* blocks */
@import url("blocks/header.css");
@import url("blocks/hero.css");
@import url("blocks/about.css");
@import url("blocks/stages.css");
@import url("blocks/questions.css");
@import url("blocks/footer.css");
@import url("blocks/media.css");

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
}
