.about {
  padding-bottom: 100px;
}

.aboutTitle {
  margin-bottom: 20px;

  font-weight: 400;
  font-size: 48px;
}

.aboutText {
  margin-bottom: 50px;
  max-width: 1235px;

  font-size: 16px;
  line-height: 32px;
}

.aboutBlock {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.aboutLeft {
  display: flex;
  align-items: flex-end;
  flex: 1 1 600px;
  max-width: 868px;
  min-height: 622px;
  overflow: hidden;

  background-color: #1a2a3a;
  background-image: url("/assets/image/Rectangle2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 32px;

  transition: transform 0.3s ease-in-out;
}

.aboutLeftImg {
  display: none;
}

.aboutLeft:hover {
  transform: scale(1.03);
}

.aboutLeftContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  min-height: 196px;
  width: 100%;

  background-color: #00000080;
  border-radius: 32px;
}

.aboutLeftText {
  max-width: 433px;

  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  color: #ffffff;
}

.aboutLeftBtn {
  padding: 20px 38px;

  font-weight: 700;
  font-size: 16px;
  color: #ffffff;

  outline: 3px solid #ff9900;
  border-radius: 16px;

  transition:
    background-color 0.2s ease-in-out,
    outline-color 0.2s ease-in-out;
}

.aboutLeftBtn:hover {
  background-color: #ff9900;
}

.aboutLeftBtn:focus {
  background-color: #ff9900;
}

.aboutLeftBtn:active {
  background-color: #e1670e;
  outline: 3px solid #e1670e;
}

.aboutListRight {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 1 600px;
  gap: 32px;
}

.aboutItemRight {
  display: flex;
  align-items: center;
  flex: 1;
  gap: 50px;
  max-width: 870px;
  padding: 65px 60px;
  overflow: hidden;

  border: 1px solid #cacaca;
  border-radius: 32px;

  transition: transform 0.3s ease-in-out;
}

.aboutItemRight:hover {
  transform: scale(1.03);
}

.aboutItemRightInfo {
  max-width: 452px;
}

.aboutItemTitle {
  margin-bottom: 8px;

  font-size: 24px;
  line-height: 100%;
}

.aboutItemText {
  font-size: 16px;
  line-height: 32px;
}

/* media */

@media (max-width: 1366px) {
  .aboutLeft {
    max-width: 1231px;
    width: 100%;
  }

  .aboutLeft:hover {
    transform: scale(1.01);
  }

  .aboutItemRight {
    max-width: 1231px;
    width: 100%;
  }

  .aboutItemRight:hover {
    transform: scale(1.01);
  }
}

@media (max-width: 1200px) {
  .about {
    padding-bottom: 80px;
  }

  .aboutText {
    margin-bottom: 60px;
  }

  .aboutLeft {
    min-height: 640px;
  }

  .aboutItemRight {
    max-width: 1100px;
    min-height: 295px;
  }
}

@media (max-width: 992px) {
  .aboutLeft {
    min-height: 650px;

    border-radius: 24px;
  }
  .aboutLeftContent {
    padding: 34px 40px;

    border-radius: 24px;
  }

  .aboutLeftText {
    margin-right: 47px;
  }

  .aboutItemRight {
    gap: 16px;
    padding: 35px 40px;
    min-height: 235px;

    border-radius: 24px;
  }

  .aboutItemImg {
    width: 114px;
    height: 99px;
  }
}

@media (max-width: 768px) {
  .aboutLeft {
    min-height: 568px;

    border-radius: 16px;
  }

  .aboutLeftText {
    margin-right: 25px;

    font-size: 14px;
  }

  .aboutItemRight {
    padding: 10px 19px;
    min-height: 238px;

    border-radius: 16px;
  }

  .aboutItemTitle {
    font-size: 18px;
  }

  .aboutItemText {
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  .aboutTitle {
    font-size: 24px;
  }

  .aboutText {
    margin-bottom: 14px;

    font-size: 14px;
    line-height: 28px;
  }

  .aboutBlock {
    gap: 0;
  }

  .aboutLeft {
    flex-direction: column;
    min-height: 444px;

    background-image: none;
    background-color: inherit;
  }
  .aboutLeftImg {
    display: block;
    margin-bottom: 8px;
  }
  .aboutLeftContent {
    flex-direction: column;
    justify-content: flex-start;
    padding: 0;

    background-color: inherit;
    border-radius: 0;
  }

  .aboutLeftText {
    text-align: center;
    margin-bottom: 12px;
    margin-right: 0;

    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    color: #000000;
  }

  .aboutLeftBtn {
    padding: 12px 44px;

    border-radius: 8px;

    font-size: 12px;
    color: #ff9900;
  }

  .aboutItemRight {
    flex-wrap: wrap;
    gap: 0;
    padding: 0;

    border: none;
    border-radius: 0;
  }

  .aboutItemImg {
    margin-bottom: 12px;
    width: 64px;
    height: 49px;

    object-fit: contain;
  }

  .aboutItemTitle {
    margin-bottom: 4px;

    font-weight: 500;
    font-size: 18px;
  }

  .aboutItemText {
    font-size: 14px;
    line-height: 28px;
  }
}

@media (max-width: 360px) {
  .about {
    padding-bottom: 60px;
  }

  .aboutLeftImg {
    max-height: 200px;
    max-width: 330px;
    width: 100%;

    border-radius: 16px;
  }

  .aboutLeftText {
    text-align: start;
  }

  .aboutLeftBtn {
    outline: 2px solid #ff9900;
  }

  .aboutLeftBtn:hover {
    color: #ffffff;
  }

  .aboutItemRight {
    min-height: 252px;
  }
}
