.footer {
  padding: 50px 0;

  background-color: #000000;
}

.footerWrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 32px;
}

/* footerLeft */

.footerLeft {
  flex: 1 1 250px;
  max-width: 568px;
  width: 100%;
}

.footerLogo {
  margin-bottom: 20px;
}

.footerList {
  margin-bottom: 90px;
}

.footerItemLink {
  font-weight: 600;
  font-size: 18px;
  line-height: 36px;
  color: #cacaca;

  transition: color 0.3s ease-in-out;
}

.footerItemLink:hover {
  color: #ff9900;
}

.footerItemLink:focus {
  outline: 2px solid #ff9900;
  outline-offset: 5px;

  color: #cacaca;
}

.footerItemLink:active {
  outline: none;

  color: #e1670e;
}

.footerMesseger {
  display: flex;
  gap: 25px;

  color: #666666;
}

.footerImgMesseger {
  transition: color 0.3s ease-in-out;
}

.footerImgMesseger:hover {
  color: #ff9900;
}

.footerLinkMesseger:focus {
  outline: 2px solid #ff9900;
  outline-offset: 5px;
}

.footerImgMesseger:active {
  color: #e1670e;
}

.footerLinkMesseger:active {
  outline: none;
}

/* footerCentr */

.footerCenter {
  display: flex;
  flex-direction: column;
  max-width: 570px;
  width: 100%;
}

.footerTitle {
  margin-bottom: 25px;

  font-weight: 400;
  font-size: 48px;

  color: #cacaca;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 25px;
  max-width: 570px;
  width: 100%;
}

.formName {
  padding: 14px 24px;
  max-width: 570px;
  width: 100%;
  min-height: 60px;

  background-color: #414141;
  border-radius: 16px;

  color: #ffffff;

  transition: background-color 0.3s ease-in-out;
}

.formName::placeholder {
  font-size: 16px;
  line-height: 32px;
  color: #cacaca;
}

.formEmail {
  padding: 14px 24px;
  max-width: 570px;
  width: 100%;
  min-height: 60px;

  background-color: #414141;
  border-radius: 16px;

  color: #ffffff;

  transition: background-color 0.3s ease-in-out;
}

.formEmail::placeholder {
  font-size: 16px;
  line-height: 32px;
  color: #cacaca;
}

.formText {
  padding: 14px 24px;
  margin-bottom: 7px;
  max-width: 570px;
  width: 100%;
  min-height: 150px;

  background-color: #414141;
  border-radius: 16px;

  color: #ffffff;

  transition: background-color 0.3s ease-in-out;
}

.formText::placeholder {
  font-size: 16px;
  line-height: 32px;
  color: #cacaca;
}

.formName:hover,
.formEmail:hover,
.formText:hover {
  background-color: #666666;
}

.formName:focus,
.formEmail:focus,
.formText:focus {
  background-color: #666666;
  border: 1px solid #ff9900;
}

.formName:active,
.formEmail:active,
.formText:active {
  background-color: #666666;
}

.formName:active::placeholder,
.formEmail:active::placeholder,
.formText:active::placeholder {
  color: #ffffff;

  transition: color 0.2s ease-in-out;
}

.formBottom {
  display: flex;
  align-items: center;
  gap: 17px;
}

.formBtn {
  padding: 19px 52px;
  border-radius: 16px;

  background-color: #ff9900;

  font-weight: 700;
  font-size: 16px;
  color: #ffffff;

  transition: background-color 0.3s ease-in-out;
}

.formBtn:hover {
  background-color: #ffb84d;
}

.formBtn:focus {
  background-color: #ffb84d;
}

.formBtn:active {
  background-color: #e1670e;
}

.customCheckbox {
  user-select: none;
  cursor: pointer;
}

.customCheckboxInput {
  appearance: none;
}

.customCheckboxText {
  position: relative;

  padding-left: 18px;

  font-size: 16px;
  line-height: 32px;
  color: #cacaca;
}

.customCheckboxText::before {
  content: "";

  position: absolute;
  left: 0;
  top: 50%;

  width: 14px;
  height: 14px;

  border: 1px solid #cacaca;

  transform: translateY(-50%);
}

.customCheckboxText::after {
  content: "";

  position: absolute;
  left: 0;
  top: 50%;

  width: 14px;
  height: 14px;

  background-image: url("/assets/image/Rectangle44.svg");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0;

  transition: opacity 0.3s;
  transform: translateY(-50%);
}

.customCheckboxInput:checked + .customCheckboxText::after {
  opacity: 1;
}

/* footerRight */

.footerRight {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  max-width: 568px;
  width: 100%;
}

.footerText {
  max-width: 363px;

  font-size: 16px;
  line-height: 32px;

  color: #cacaca;
}

/* media */

@media (max-width: 1600px) {
  .footerleft {
    max-width: 365px;
  }

  .footerRight {
    max-width: 365px;
  }
}

@media (max-width: 1366px) {
  .footerRight {
    display: none;
  }
}

@media (max-width: 1200px) {
  .footerCenter {
    max-width: 541px;
  }

  .formBtn {
    padding: 19px 37px;
    max-width: 240px;
  }
}

@media (max-width: 992px) {
  .footerWrapper {
    flex-wrap: wrap-reverse;
    gap: 50px;
  }
  .footerLogo {
    margin-bottom: 16px;
  }

  .footerList {
    display: none;
  }
}

@media (max-width: 768px) {
  .footerWrapper {
    justify-content: center;
  }

  .footerCenter {
    align-items: center;
  }
}

@media (max-width: 576px) {
  .footer {
    padding: 30px 0;
  }
  .footerCenter {
    align-items: flex-start;
  }

  .footerTitle {
    margin-bottom: 20px;

    font-size: 24px;
  }

  .formName {
    padding: 14px 20px;
  }

  .formName::placeholder {
    font-size: 14px;
  }

  .formEmail {
    padding: 14px 20px;
  }

  .formEmail::placeholder {
    font-size: 14px;
  }

  .formText {
    padding: 14px 20px;
    margin-bottom: 0;
  }

  .formText::placeholder {
    font-size: 14px;
  }

  .formBottom {
    flex-wrap: wrap;
    justify-content: center;
    gap: 11px;
  }

  .formBtn {
    padding: 12px 19px;

    border-radius: 8px;

    font-size: 12px;
  }

  .footerLeft {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 16px;

    border-top: 1px solid #414141;
  }

  .footerLogo {
    width: 131px;
    height: 42px;
  }
  .footerMesseger {
    gap: 16px;
  }

  .footerImgMesseger {
    width: 40px;
    height: 40px;
  }
}
