.header {
  position: sticky;
  top: 0;
  z-index: 100;

  padding: 14px 0;
  
  background-color: #ffffff;
  box-shadow: 0px 5px 40px 0px #0000001a;
  border-bottom-right-radius: 32px;
  border-bottom-left-radius: 32px;
}

.headerWrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.headerLink {
  margin-right: auto;
}

.nav {
  margin-right: 85px;
}

.navList {
  display: flex;
  flex-wrap: wrap;
  gap: 85px;
}

.navItem {
  position: relative;
}

.navItemLink {
  font-size: 18px;
  font-weight: 600;
  line-height: 1;

  transition:
    color 0.2s ease-in-out,
    background-color 0.3s ease-in-out;
}

.navItemLink::after {
  content: "";

  position: absolute;
  left: 0;
  bottom: -7px;
  
  width: 100%;
  height: 2px;

  background-color: #ff9900;
  opacity: 0;

  transition: opacity 0.3s ease-in-out;
}

.navItemLink:hover::after {
  opacity: 1;
}

.navItemLink:focus {
  outline: 2px solid #ff9900;
  outline-offset: 5px;
}

.navItemLink:focus::after {
  opacity: 0;
}

.navItemLink:active {
  outline: none;

  color: #e1670e;
}

.navItemLink:active::after {
  background-color: #e1670e;
  opacity: 1;
}

.headerBtn {
  transition: color 0.3s ease-in-out;
}

.headerBtn:hover {
  color: #ff9900;
}

.headerBtn:focus {
  outline: 2px solid #ff9900;
  outline-offset: 4px;
}

.headerBtn:active {
  outline: none;
  
  color: #000000;
}
