.questions {
  padding-bottom: 100px;
}

.questionsTitle {
  margin-bottom: 32px;

  font-weight: 400;
  font-size: 48px;
}

.questionsList {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.questionsItem {
  flex: 1 1 450px;
  max-width: 568px;
  padding: 65px 60px;

  border: 1px solid #cacaca;
  border-radius: 32px;

  transition: transform 0.3s ease-in-out;
}

.questionsItem:hover {
  transform: scale(1.05);
}

.questionsItemTitle {
  margin-bottom: 8px;
  max-width: 412px;

  font-size: 24px;
}

.questionsItemText {
  font-size: 16px;
  line-height: 32px;
}

/* media */

@media (max-width: 1200px) {
  .questions {
    padding-bottom: 80px;
  }

  .questionsItem {
    max-width: 924px;
    width: 100%;
  }

  .questionsItemTitle {
    max-width: 799px;
  }

  .questionsItemText {
    max-width: 799px;
  }
}

@media (max-width: 992px) {
  .questionsItem {
    padding: 35px 40px;
  }
}

@media (max-width: 576px) {
  .questionsTitle {
    margin-bottom: 20px;

    font-size: 24px;
  }

  .questionsItem {
    padding: 0;

    border: none;
    border-radius: 0;
  }

  .questionsItemTitle {
    margin-bottom: 4px;

    font-weight: 500;
    font-size: 18px;
  }

  .questionsItemText {
    font-size: 14px;
    line-height: 28px;
  }
}

@media (max-width: 360px) {
  .questions {
    padding-bottom: 60px;
  }
}
