.solutions {
  padding: 50px 0;
}

.solutionsWrapper {
  padding: 100px 80px;
  min-height: 620px;
  border-radius: 32px;
  background-color: #1a2a3a;
  background-image: url("/assets/image/project.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.solutionBlock {
  max-width: 790px;
}

.solutionsTitle {
  margin-bottom: 24px;
}

.solutionsText {
  margin-bottom: 90px;
}

.solutionsBtn {
  background-color: #ff9900;
  border-radius: 16px;
  padding: 25px 39px;
}
